!!!
%meta{charset: "UTF-8"}
%html
  %head
    %link{rel: 'stylesheet', type: "text/css", href: "css/normalize.css"}
    %link{rel: 'stylesheet', type: "text/css", href: "css/skeleton.css"}
    %link{rel: 'stylesheet', type: "text/css", href: "css/style.css"}
    %link{rel: 'stylesheet', type: "text/css", href: 'http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic'}
    %link{rel: 'stylesheet', type: "text/css", href: 'http://fonts.googleapis.com/css?family=Merriweather'}
  %body
    .container
      .row
        .one-whole.column.center
          .im-fell.title
            Jespero Quemar
    .full-img
      %img{src: 'images/cafe.jpg'}
    .container.body
      .row
        .one-half.column
          .description
          -# A mexican with roots in scandinavian temporary culture. Writing about the social pressures and what keeps humanity walking. Soon to win the Nobel prize.
          %span.uppercase U
          %span.lowercase n mexicano con raíces en la cultura temporal escandinavo.
          %span.uppercase E
          %span.lowercase scribir acerca de las presiones sociales y lo que mantiene a la humanidad a pie.
          %span.uppercase P
          %span.lowercase ronto para ganar el premio
          %span.uppercase N
          %span.lowercase obel.
      .row
        .one-whole
          %hr
      .row
        .one-whole.center
          %span.uppercase E
          %span.lowercase l primer libro de
          %span.uppercase J
          %span.lowercase espero
          %span.uppercase Q
          %span.lowercase uemar.
          %span.uppercase A
          %span.lowercase fuera, en las tiendas pronto.
      .row
        .one-whole.center
          %img.book{src: 'images/trycket_1.jpg', alt: 'Det Sociala Trycket'}
      .row
        .one-whole.center
          .warning
            Disponible sólo en sueco!
